player-connection-mode=Listen
player-connection-guid=208977723
player-connection-debug=0
player-connection-project-name=NDM-Nurse-Decision-Making
player-connection-ip=169.254.5.26
player-connection-ip=192.168.191.1
player-connection-ip=192.168.220.1
player-connection-ip=10.0.0.128
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
